.container-fluid{
    background-color: gray;
    margin-top: 0;
    height: 300px;
    text-align: center;
}


.border-box{
    border-block: center;
    border: 1px;
    border-style: solid;
    border-color: black;
    text-align: center;

}

